.blox {
  height: auto;
  width: auto;
  background-color: #AE9B32;
  padding: 0px;

}

#clear {
  position: relative;
}

/* This is our essential color feature*/
.highlight {
  background-color: black;
}

/* Gameboy shiznat */
#gameboy {
  position: relative;
  margin: 100px auto;
  height: 700px;
  width: 420px;
  background: #EEE;
  border-radius: 29px 29px 86px 29px;
  overflow: hidden;
  box-shadow: 5px 5px rgba(0,0,0.1);
}

#container {
  position: absolute;
  width: 353px;
  height: 294px;
  left: 33px;
  top: 56px;
  background: #777;
  border-radius: 14px 14px 56px 14px;
}

#canvas {
  border-collapse: collapse;
  margin: auto;
  position: absolute;
  height: 222px;
  width: 222px;
  top: 36px;
  left: 64px;
}

#reset {
  position: relative;
  top: 500px;
  left: 170px;
  background: #777;
  height: 10px;
  width: 40px;
}

#color {
  position: relative;
  top: 500px;
  left: 150px;
  background: #777;
  height: 10px;
  width: 40px;
}
